body {
  margin: 0;
  font-family: "Noto Sans";
}

.wrapper {
  height: 100vh;
  overflow-y: auto; /* Change to 'auto' to display scrollbar only when needed */
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Adjusted align-items to flex-start */
}

.container {
  width: 52%;
  min-width: 503px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  border-radius: 24px;
  margin: 10vh 0;
  overflow: hidden; /* Hide the container's scrollbar */
  padding: 20px; /* Adjust padding as needed */
}

.title {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  color: #333333;
}

.subtitle {
  font-weight: 300;
  font-size: 15px;
  margin: 0;
}

#line {
  width: 75%;
  border: 0.75px solid #d7d7d7;
  margin: 3% 0 3% 0;
}

.tableWrapper {
  width: 75%;
  margin: 4% 0 7% 0;
  display: flex;
  flex-direction: column;
  border: 0.5px solid #414141;
  border-radius: 20px;
}

#tableTitle {
  padding: 10px 0;
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  border-bottom: solid 1px;
}

table {
  text-align: center;
  border-collapse: collapse;
}

tr {
  width: 100%;
  display: flex;
  justify-content: stretch;
  border-top: solid 0.5px;
}

th {
  font-size: 17px;
  width: 100%;
  background: rgba(0, 70, 42, 0.2);
  padding: 5px 0;
}

td {
  width: 100%;
  font-size: 15px;
  padding: 5px 0;
}

#ltd {
  height: 100px;
}

@media (max-width: 1100px) {
  th {
    font-size: 13px;
  }

  td {
    font-size: 10px;
  }

  .subtitle {
    font-size: 25px;
  }
}

@media (min-width: 1100px) and (max-width: 1700px) {
  th {
    font-size: 15px;
  }

  td {
    font-size: 13px;
  }

  .subtitle {
    font-size: 30px;
  }
}
